* {
    padding: 0;
    margin: 0;
    display: border-box;
}

h1 {
    font-family: 'Monoton', cursive;
    color: red;
}

body {
    background: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.image-1 {
    border: 2px solid blue;
    border-radius: 100%;
    background-color: green;
}

.image-2 {
    border: 2px solid blue;
    border-radius: 100%;
    background-color: yellow;
}

.image-3 {
    border: 2px solid blue;
    border-radius: 100%;
    background-color: cyan;
}

.image-1:hover {
    background: black;
    cursor: pointer;
}

.image-2:hover {
    background: black;
    cursor: pointer;
}

.image-3:hover {
    background: black;
    cursor: pointer;
}

.result-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 8%;
}

#user,
#comp {
    margin-top: 2%;
    /* margin-right: 1%; */
    color: ivory;
}

.Result {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    /* margin-left: 8%; */
    font-size: 40px;
}

.user_box {
    margin-top: 2%;
    margin-right: 2%;
    display: block;
    width: 4%;
    margin-left: 2%;
    border: 5px solid white;
}

.comp_box {
    display: block;
    margin-top: 2%;
    margin-left: 2%;
    width: 4%;
    border: 5px solid white;
}

h2 {
    text-align: center;
    color: cyan;
}

.button {
    display: flex;
    justify-content: center;
    background: rgb(171, 128, 125);
    align-items: center;
}

@media screen and (max-width:768px) {
    .user_box,
    .comp_box {
        margin-left: 1%;
        width: 15%;
    }
}